# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
/.cxx/*

# Executables
*.exe
*.out
*.app

# emacs artifacts
*~
#*
*#
.#*

# arduino artifacts
secrets.h

# Android Studio artifacts
.gradle
.idea

gradlew
gradlew.bat
gradle/wrapper/*
